body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #171717;
  color: #23c4cc;
  font-family: "Roboto", sans-serif;
}
.main-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-logo {
  width: 100%;
  height: 100px;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.key {
  font-size: 24px;
  padding: 20px;
  background-color: #23c4cc;
  color: #171717;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.key:hover {
  background-color: #23c4cc;
}
.key.clear {
  border: 2px solid #f63131;
  background-color: transparent;
  color: #f63131;
}
.key.enter {
  background-color: #23c4cc;
  grid-column: span 3;
  margin-top: 20px;
}
.key.backspace {
  border: 2px solid #cc8623;
  background-color: transparent;
  color: #cc8623;
}
.user-type-select {
  background-color: transparent;
  color: #23c4cc;
  border: 2px solid #23c4cc;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  user-select: none;
  padding: 20px;
  border-radius: 8px;
  font-size: 24px;
  transition: background-color 0.2s;
  appearance: none; /* Remove native arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
}
.pin-input {
  font-weight: 600;
  border: none;
  width: 100%;
  cursor: pointer;
  user-select: none;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 24px;
}
